body	
	{ 
		word-wrap: break-word;
		margin-left: 5%; 
		margin-right: 5%;  
		padding-left:2em; 
		padding-right: 2em; 
		clear:both;		
		font-family: Helvetica, arial,"sans-serif";
		font-size: 0.9em;
	}
.center { margin:auto;}
.rightText  { text-align:right;}
th	{ text-align:left;}
th,td { border-right: 0px solid; border-bottom: 0px solid; padding-left:0.3em;}
figcaption {font-size: 0.5em;}
p.italic { font-style: italic; }

h2 { font-size: 1em }

#arkhamhorror {float:right}
#me	
	{
		float:right; 
		min-width: 70%; 
		max-width: 70%;
	}
#fact 
	{ 		
		float:left;  
		max-width: 25%; 
		padding-bottom: 1em;
	}
.main
	{
		float: left;
		width: 60%;
		margin-right: 2%;
	}
aside
	{
		float: right;
		width: 35%;
		padding-left: 2%;
		border-left: 1px dotted;
	}
footer	
	{
		border-top: 2px solid; 
		margin-top: 1em; 
		clear:both;
	}
abbr 	{ border-bottom: 1px dotted; }
#date	{ float:right; }
address	
	{ 
		float:left; 
		font-size:small;
	}
.title	
	{ 
		clear:both; 
		text-align:center;
	}
#border	{ border: 1px solid; }
nav	{ 
		clear:both;
		border-bottom: 1px solid;
		padding-bottom: 1em; 
	}
a	
	{ 
	
		color:#202020; 
		text-decoration:none; 
		font-weight: bold;
		
	}
a:hover	{ color:#787878; }
nav a	
	{ 
		color:black; 
		text-decoration:none; 
		margin-right: 2em;
		font-weight: bold;
	}

iframe 	{ width:100%; border:0; }
#runda 	{ height:11em; }
#dod	{ height:14em; }
#s3		{ height:20em; }
#s2 		{ height:17em; }
#s1 		{ height:12em; }
details 	{ overflow: visible; }
nav a:hover	{ color:grey; }