		<nav>
			<a href="index.php">Start</a>
			<a href="spela_roll.php">Spela Roll</a>
			<a href="projekt.php">Projekt</a>
			<a href="links.php">Länkar</a>
			<a href="Jonny.php">Om mig</a>
			<!-- <a href="http://w11.zetaboards.com/Spela_Roll" target="_blank">Forum</a> -->
        </nav>
